<div class="swiper-slide sm:w-2/3">
	<div class="flex items-center justify-center relative h-full w-full text-[#3d4d55] bg-white overflow-hidden">
		<span
			class="absolute top-0 left-0 bg-[url('https://tristate.coop/sites/default/files/images/esg/quote.svg')] bg-contain bg-no-repeat bg-left-top -translate-y-1/4 z-0"
			style="width:clamp(110px,25vw,220px); height:clamp(110px,25vw,220px)"></span>
		<span
			class="absolute bottom-0 right-0 bg-[url('https://tristate.coop/sites/default/files/images/esg/quote.svg')] bg-contain bg-no-repeat bg-left-top z-0"
			style="width:clamp(110px,25vw,220px); height:clamp(110px,25vw,220px); transform: rotate(180deg) translate(0%, -25%)"></span>
		<figure class="grid place-content-center p-6 relative z-10 min-h-[400px] lg:px-12">
			<blockquote class="m-0 p-0 border-0  font-bold text-justify  text-gray-900 lg:text-lg lg:leading-tight">
				QUOTE_TEXT
			</blockquote>
			<figcaption class="p-0 mt-5 border-0 text-[1.2rem] font-light text-[#719ab8] font-serif leading-tight">
				QUOTE_ATTRIBUTION
			</figcaption>
		</figure>
	</div>
</div>