@layer components {
	/* Bio expansion behavior on mobile devices. */
	[data-bio] {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.3s ease;
	}

	[data-bio].open {
		grid-template-rows: 1fr;
		padding: 2rem 0;
	}

	[data-bio] > * {
		@apply overflow-hidden;
	}

	[data-bio-container] {
		@apply absolute col-span-1 xl:col-span-2;
	}
}
