@import './custom/block-expandable.css';
@import './custom/featherlight.css';
@import './custom/grid-leadership.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-size: 16px;
}

* {
	transition: none;
	transition-duration: 0s;
	transition-property: none;
	transition-timing-function: ease;
	transition-delay: 0s;
}

*,
::before,
::after {
	border-width: 0;
	border-style: solid;
}

.border {
	border-width: 1px;
	border-style: solid;
}
nav .collapse {
	visibility: visible;
}
#main a.text-white,
#main a.text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

#main a.text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

#main a.text-black,
#main a.text-black:hover {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
}
#main a.text-black:hover {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

#main .font-normal {
	font-weight: 400;
}
#main .no-underline {
	text-decoration: none;
}
