@import './custom/block-expandable.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.border {
	border-width: 1px;
	border-style: solid;
}
nav .collapse {
	visibility: visible;
}
#main a.text-white,
#main a.text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

#main a.text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

#main a.text-black,
#main a.text-black:hover {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
}
#main a.text-black:hover {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

#main .font-normal {
	font-weight: 400;
}
#main .no-underline {
	text-decoration: none;
}

.block-region-content p,
.block-region-content ul {
	font-size: 16px;
}
